{% extends "base.html" %}

{% block content %}
    <div style="display: none" id="current_user">{{ cu }}</div>

    <div style="position: fixed;z-index: 12;padding: 15px; left: 50px;    margin-top: 15px;" class="me-4 container h1">
        Trending
    </div>
    {% for p in data %}
        <div class="post container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="{{ p.profile_pic }}"
                                     alt="avatar" width="60"
                                     height="60"/>
                                <div>
                                    <h6 onclick="location.href='/user/{{ p.username }}'"
                                        class="fw-bold text-primary mb-1">{{ p.name }}</h6>
                                    <p class="text-muted small mb-0">
                                        {{ p.username }} - {{ p.date }}
                                    </p>
                                </div>
                            </div>


                            <div class="entry mt-3 mb-4 pb-2">
                                {{ p.content | markdown }}
                            </div>

                            <div class="col pt-1 float-end d-flex justify-content-end">
                                <div onclick="like(this,{{ p.id }})"
                                     class="like_btn btn btn-sm d-flex align-items-center">
                                    <span class="{% if p.liked %} liked {% endif %} like material-symbols-outlined me-2">favorite</span>
                                </div>

                                <div style="margin-left: -18px;" onclick="list_doers('likes',{{ p.id }})"
                                     class=" btn btn-sm d-flex align-items-center ">
                                    <span class="like_count me-2"> {{ p.likes }}</span>
                                    <span class="like_label d-none d-sm-block mb-0">{% if p.likes ==1 %}Like{% else %}
                                        Likes{% endif %}</span>
                                </div>


                                <div onclick="comments_hider(this ,{{ p.id }})"
                                     class="comment_btn btn  btn-sm d-flex align-items-center">
                                    <span class="comment_icon material-symbols-outlined me-2">chat</span></div>
                                <div onclick="comments_hider(this ,{{ p.id }})" style="margin-left: -18px;"
                                     class="like_btn btn btn-sm d-flex align-items-center me-1">
                                    <span class="comment_count me-2">{{ p.comments }}</span>
                                    <p class="comment_label mb-0 d-none d-sm-block"> Comments</p>
                                </div>


                            </div>
                        </div>
                        <section style="display: none" class="card-footer py-3" id="commentx">

                        </section>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}