{% extends "base.html" %}
{% block css %}
{% endblock %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',file='styles/user.css') }}"/>

{% block content %}

    {% if info['backdrop'] %}
        <img src="{{ info['backdrop'] }}" class="backdrop">
    {% else %}
        <div class="backdrop" style="
        background:grey; "></div>
        {% if info['profile_pic'] %}
            <div style="display: flex; flex-direction: row; justify-content: space-around"></div>
            <img src="{{ info['profile_pic'] }}" class="usrimg">

        {% else %}
            <div class="usrimg"
                 style="margin:15px;margin-bottom: 0px; width: 175px;height: 75px;background: indianred; border-radius: 90px">
            </div>
        {% endif %}

    {% endif %}
    <div style="margin-top: -100px; display: flex;flex-direction: row;align-items:  center;justify-content: center">
        <div class="profile">
            <span class="uname">{{ info['name'] }}</span>
            <span class=" u2">{{ info['username'] }}</span>
            <span class="bio">{% if bio %}{{ info['bio'] }}{% endif %}</span>
            <div style="margin-top: 10px; font-size: 16px">
                <span style="font-weight: bold">{{ info['following'] }}</span>
                <span style="color: grey">Following</span>
                <span style="font-weight: bold">{{ info['followers'] }}</span>
                <span style="color: grey">Followers</span>
                <span style="font-weight: bold">{{ info['posts'] }}</span>
                <span style="color: grey">Posts</span>
            </div>
            <hr style="height: 0.1px">
        </div>
        {% if rw %}
            <div onclick="location.href='/profile'" class="actionbtn">Edit Profile</div>
            <div onclick="location.href='/cred'" class="actionbtn">Get Credentials</div>
        {% elif follower %}
            <div onclick="location.href='/follow/{{ info['email'] }}'" class="actionbtn">Unfollow</div>
        {% else %}
            <div onclick="location.href='/follow/{{ info['email'] }}'" class="actionbtn">Follow</div>

        {% endif %}
    </div>
    {% for p in data %}
        <div class="leaf">
            <div class="row" style="width: inherit; align-items: start;margin:15px;justify-content: start">
                <div style="margin:15px;margin-bottom: 0px; width: 50px;height: 50px;background: indianred; border-radius: 90px">
                </div>
                <div class="col">
                    <div onclick="location.href='/user/{{ p.username }}'" class="col" style="margin-top: 20px">
                        <span class="bold">{{ p.name }}</span>
                        <div style="width: 10px"></div>
                        <span class="grey">{{ p.username }} * {{ p.date }}</span>

                    </div>
                </div>
            </div>
            <div class="col" style="margin: 0 35px 0 35px">

                <div class="content">{{ p.content | markdown }}</div>
                <div class="row actions">
                    <div onclick="like(this,{{ p.id }})" class="logobtn">
                        <span class="ii material-symbols-rounded">favorite</span>
                        <span>{{ p.likes }}</span>
                        <span class="it">Like</span>
                    </div>
                    <div class="logobtn">

                        <span class="ii material-symbols-rounded">mode_comment</span>
                        <span>{{ p.comments }}</span>
                        <span class="it">Comment</span>
                    </div>
                    <div class="logobtn">

                        <span class="ii material-symbols-rounded">google_plus_reshare</span>
                        <span>{{ p.share }}</span>
                        <span class="it">Repost</span>
                    </div>
                    <div class="logobtn ofo">
                        <div id="more" onclick="ovrflo(this)" class="ofo ii material-symbols-rounded">more_horiz
                        </div>
                        <div class="overflo">
                            <span onclick="location.href=/edit/{{ p.id }}" class="ii">Edit</span>
                            <hr>
                            <span class="ii">Delete</span>
                            <hr>
                            <span class="ii">Archive</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}