{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{{ info["profile_pic"] }}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" data-mdb-ripple-color="dark"
                                        style="z-index: 1;">
                                    Edit profile
                                </button>
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>{{ info['name']}}</h5>
                                <p>{{ info['username'] }}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{ info['posts'] }}</p>
                                    <p class="small text-muted mb-0">Entries</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ info['followers'] }}</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ info['followers'] }}</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>


                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">{{ info['bio'] }}</p>

                                </div>
                            </div>

                            {% for p in data %}


                                <div class="post container my-5 py-5">
                                    <div class="row d-flex justify-content-center">

                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex flex-start align-items-center">
                                                        <img class="rounded-circle shadow-1-strong me-3"
                                                             src="{{ p.profile_pic }}"
                                                             alt="avatar" width="60"
                                                             height="60"/>
                                                        <div>
                                                            <h6 onclick="location.href='/user/{{ p.username }}'" class="fw-bold text-primary mb-1">{{ p.name }}</h6>
                                                            <p class="text-muted small mb-0">
                                                                {{ p.username }} - {{ p.date }}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="mt-3 mb-4 pb-2">
                                                        {{ p.content | markdown }}
                                                    </div>

                                                    <div class="col pt-1 float-end d-flex justify-content">
                                                        <a href="#!" class="btn btn-sm d-flex align-items-center me-1">
                                                            <span class=" liked material-symbols-outlined me-2">favorite</span>
                                                            <span> {{ p.likes }}</span>
                                                            <p class="mb-0">Like</p>
                                                        </a>
                                                        <a onclick="commento(this)"
                                                           class="btn  btn-sm d-flex align-items-center">
                                                            <span class=" material-symbols-outlined me-2">chat</span>
                                                            <span>{{ p.comments }}</span>
                                                            <p class="mb-0">Comment</p>
                                                        </a>
                                                        <a href="#!" class="btn  btn-sm d-flex align-items-center me-1">

                                                            <span class="material-symbols-outlined me-2">google_plus_reshare</span>
                                                            <span>{{ p.share }}</span>
                                                            <p class="mb-0">Repost</p>
                                                        </a>
                                                        <div class="dropdown d-flex align-items-center">
                                                            <button class="btn btn-sm " type="button"
                                                                    id="dropdownMenuButton1"
                                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="material-symbols-outlined">more_vert</span>

                                                            </button>
                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuButton1">
                                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                <li><a class="dropdown-item" href="#">Archive</a></li>
                                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                               <section style="display: none" class="card-footer py-3" id="commentx">
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                 width="40"
                                 height="40"/>
                            <div class="form-outline w-100">
                                <small>Nice post Architectiure</small>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">

                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                 width="40"
                                 height="40"/>
                            <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="2"
                          style="background: #fff;"></textarea>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                        </div>
                    </div>
                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <section>

                            <div class="card mb-4">
                                <div class="card-body text-center">

                                    <img src="{{ info["profile_pic"] }}"
                                         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                         style="width: 150px; z-index: 1">
                                    <button style="vertical-align: bottom;" type="button"
                                            onclick="hidefileinput()" class="btn">
                                        <span class=" liked material-symbols-outlined">edit</span></button>
                                    <input style="display: none;margin-top: 15px" class="form-control" type="file"
                                           id="ImgFile">

                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">

                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" value="{{ info["name"] }}" class="form-control" id="e-name">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Username</label>
                                        <div class="col-sm-9">
                                            <input type="text" value="{{ info["username"] }}" class="form-control" id="E-username">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" value="{{ info["email"] }}" class="form-control" id="E-email">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Bio</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" value="{{ info["bio"] }}" id="E-bio" rows="3"></textarea>

                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="inputPassword3">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </section>

                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        function hidefileinput() {
            let x = document.getElementById('ImgFile');
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}