.xcard {
    margin: 50px;
    /*background: #AEA79F;*/
    /*background-image: url(/img/site-background-image.png);*/
    /*background-repeat: repeat;*/
    background-color: #333333;
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);;

    color: #ffffff;

    font-size: 12px;
    padding: 40px;
    position: absolute;
    border-radius: 25px;
    width: auto;
    height: auto;

    top: 100px;
    display: flex;
    flex-direction: column;


    justify-content: flex-start;

}

.ii {
    font-variation-settings: 'FILL' 1;
}

.closebar {
    height: 35px;
    width: 35px;
    top: 45px;
    right: 40px;
    position: absolute;

    float: right;
    padding-top: 5px;
    padding-right: 5px;

    background: teal;
    color: #ffffff;
    display: flex;
    border-radius: 20px;
    justify-content: flex-end;
}

#icon-off, .btn-lbl, .btn {
    display: none;
}

.btnicn {
    vertical-align: middle;
    line-height: 30px;
    font-size: 30px !important;
    font-variation-settings: 'FILL' 1,
    'wght' 350,
    'GRAD' 0,
    'opsz' 48
}

.closebar:hover {
    padding-left: 10px;

    width: auto;
}

.set1:hover > .btn-lbl {
    display: inline;
}

.closebar:hover #icon-off {
    display: inline;
}

.sticker {
    font-size: 15px;
    background: #555555;
    border-width: 0;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: inherit;
    display: flex;
    justify-content: flex-start;
}

#title {
    font-size: 25px;
    background: #555555;
    border-width: 0;
    padding: 10px;

    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
}


