/*StatusBsr*/
.statusbar {
    margin-top: 10px;
    border: 23px black;
    width: auto;
    height: 40px;

    background: #5e2750;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ii {
    vertical-align: middle;
    line-height: 39px;
    font-size: 28px !important;
}

input[type="radio"] {
    -webkit-appearance: none;
}

input[type="radio"]:not(:checked) + label > div > i {
    color: #1a1e21;
}

{
    #background: black !important ;
}


input[type="radio"]:checked + label > div > #fin {
    color: #0dbf0d;
}

input[type="radio"]:checked + label > div > #pen {
    color: #ff0000;
}

input[type="radio"]:checked + label > div > #ong {
    color: dodgerblue;
}

#fin:hover {
    color: #0dbf0d;
}

#pen:hover {
    color: #ff0000;
}

#ong:hover {
    color: dodgerblue;
}

.tab:hover {
    width: 78px !important;
}

.tab:hover .lbl {
    display: inline !important;
}

input[type="radio"]:hover .ij {
    display: none;
}

.pe:hover .ij {
    display: inline
}

.ast:not(:hover) input[type="radio"]:checked + label > div > span {
    display: inline;
}

.ij {
    display: none;
}